.section_governments {
	background: var(
		--Grad-Dark-Blue,
		linear-gradient(90deg, #001b38 0%, #004b8a 100%)
	);

	h2 {
		color: var(--Mountain-Shadow-Grey-white, #fff);

		/* Serif Heading/Serif Header H2 */
		font-family: $Lora;
		font-size: 32px;
		font-style: normal;
		font-weight: 600;
		line-height: 42px; /* 131.25% */
		margin-left: 24px;
		margin-bottom: 24px;
	}

	.sub-header {
		color: var(--Local-Citrus-Orange-lcorange-400, #fdba16);

		/* Heading/H3 */
		font-family: $Inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.2px;
		margin-bottom: 24px;
	}

	.horizontal-card {
		border-radius: 16px;
		background: var(--San-Diego-Bay-Blue-sdblue-800, #002b4c);

		display: flex;
		width: 349px;
		min-height: 136px;
		align-items: flex-start;
		gap: 16px;
		align-self: stretch;
		margin-bottom: 24px;

		img {
			border-radius: 1em 0em 0em 1em;
		}

		.wp-block-media-text__content {
			margin-bottom: 2em;
		}

		h6 {
			align-self: stretch;
			color: var(--Western-Bluebird-Blue-wbblue-200, #5cdeff);

			/* Heading/H3 */
			font-family: $Inter;
			font-size: 15px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: -0.2px;
			width: max-content;
		}

		p {
			align-self: stretch;
			color: var(--Local-Citrus-Orange-lcorange-400, #fdba16);

			/* Body/16px/16 Regular */
			font-family: Inter;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			margin-bottom: 0;
			line-height: 24px; /* 150% */
		}
	}

	.long-btn {
		display: flex;
		width: 349px;
		padding: 20px;
		align-items: flex-start;
		gap: 16px;
		border-radius: 16px;
		border: 2px solid #003d6e;
		background: var(--San-Diego-Bay-Blue-sdblue-800, #002b4c);
		margin-bottom: 24px;

		flex: 1 0 0;
		color: var(--Western-Bluebird-Blue-wbblue-200, #5cdeff);

		/* Body/16px/16 Medium */
		font-family: $Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px; /* 150% */
	}

	.long-btn:after {
		content: "\f061";
		font-size: 15px;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		margin-left: 12em;
	}
}
