#main-nav {
	background-color: #fff;

	#searchcontainer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-left: 32px;

		table.gsc-search-box td.gsc-input {
			padding-right: 0;

			.gsc-input-box {
				border-radius: 8px 0 0 8px;

				input#gsc-i-id1 {
					height: 30px !important;
					background: none !important;
				}
			}
		}

		button.gsc-search-button {
			background: var(--San-Diego-Bay-Blue-sdblue-400, #1562a1);
			display: flex;
			height: 40px;
			padding: 6px 12px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			border: none;
			border-radius: 0px 8px 8px 0px;
			margin: 0;
		}
	}
}
.navbar-nav a {
	color: var(--Mountain-Shadow-Grey-msgrey-800, #242427);
	font-family: $Inter;
	/* Body/16px/16 Medium */
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	display: flex;
	padding: 12px;
	align-items: center;
	gap: 8px;
}

.astm-search-menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 32px;
}

.astm-search-menu input.is-search-input {
	border-radius: 8px 0 0 8px;
}

.astm-search-menu .is-search-icon {
	background: var(--San-Diego-Bay-Blue-sdblue-400, #1562a1);
	border-radius: 0 8px 8px 0;
}

.astm-search-menu .is-form-style .is-search-submit path {
	fill: #fff;
}
