.translate-banner {
	background-color: #f5f5f7;

	.gtranslate_wrapper {
		display: flex;
		justify-content: end;
	}

	.dropdown {
		display: flex;
		width: 108px;
		min-width: 80px;
		padding: 8px 12px;
		justify-content: center;
		align-items: center;
		gap: 8px;
		flex-shrink: 0;

		.trp-ls-shortcode-current-language {
			border-radius: 8px;
			background: var(--San-Diego-Bay-Blue-sdblue-400, #1562a1);

			a {
				color: var(--Mountain-Shadow-Grey-white, #fff);
				text-align: center;
				font-family: "Source Sans Pro";
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}
	}
}
